// Variables
$fbw-blue: #00C2CB;
$fbw-dark-blue: #6399AE;
$fbw-grey: #545454;

$menu-background: #FFF;

$tooltip: rgba(255, 255, 255, 0.6);
$popup: $tooltip;

$menu-border-radius: 2px;
$menu-border-thickness: 0;
